<a href="https://colab.research.google.com/github/SejalJadhav1/python_/blob/main/BusinessAnalytics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import io
df = pd.read_csv("dataset.csv")

In [ ]:
df.head()

      City Brand
0   Mumbai     A
1  Chennai     C
2   Mumbai     A
3   Mumbai     C
4  Chennai     C

In [ ]:
contingency_table = pd.crosstab(df.City, df.Brand , margins = True)

In [ ]:
contingency_table_ = pd.crosstab(df.Brand, df.City , margins = True)
ct_ = contingency_table_
ct_

City   Chennai  Mumbai  All
Brand
A          165     279  444
B           47      73  120
C          191     225  416
All        403     577  980

In [ ]:
contingency_table # observed frequency

Brand      A    B    C  All
City
Chennai  165   47  191  403
Mumbai   279   73  225  577
All      444  120  416  980

In [ ]:
ct = contingency_table 
ct.A[0]

165

In [ ]:
ct.A["All"]

444

In [ ]:
ct.All["All"]

980

In [ ]:
ct.T

City   Chennai  Mumbai  All
Brand
A          165     279  444
B           47      73  120
C          191     225  416
All        403     577  980

In [ ]:
df.City

0       Mumbai
1      Chennai
2       Mumbai
3       Mumbai
4      Chennai
        ...
975     Mumbai
976    Chennai
977     Mumbai
978     Mumbai
979    Chennai
Name: City, Length: 980, dtype: object

In [ ]:
cities = list(df.City.unique())
brands = list(df.Brand.unique())

In [ ]:
brands

['A', 'C', 'B']

In [ ]:
cities

['Mumbai', 'Chennai']

In [ ]:
(df.City.unique())

['Mumbai', 'Chennai']

In [ ]:
ct

City   Chennai  Mumbai  All
Brand
A          165     279  444
B           47      73  120
C          191     225  416
All        403     577  980

H0: no relationship exists on the categorical variables in the population; they are independent.

H1: relationship exists on the categorical variables in the population; they are not independent.

In [ ]:
contab = np.array([ct.transpose()["Chennai"][0:3].values,
                   ct.transpose()["Mumbai"][0:3].values])
stats.chi2_contingency(contab)
# 7.00954 is the calculated chi-square value
# 0.0300 is the p-value
# 2 is the degrees of freedom
# array has all the expected frequencies  

# since pvalue < 0.05(alpha) we reject null hypothesis:

(7.009543616823934,
 0.03005363054744611,
 2,
 array([[182.58367347,  49.34693878, 171.06938776],
        [261.41632653,  70.65306122, 244.93061224]]))

In [ ]:
chi_sqaure_calculated = 7.009543616823934
dof = 2
1-stats.chi2.cdf(chi_sqaure_calculated, dof) # getting the p value: alternate method

0.030053630547446142

In [ ]:
ct.transpose()["Chennai"][0:3].values

array([165,  47, 191])